app/__pycache__/
app/api/__pycache__/
app/api/routes/__pycache__/
.env
app/core/__pycache__/
my_docs/
app/schemas/__pycache__/
app/services/__pycache__/
app/dependencies/__pycache__/providers.cpython-314.pyc
curl-requests.txt
app/db/__pycache__/
app/models/__pycache__/
alembic/__pycache__/
alembic/versions/__pycache__/
app/dependencies/__pycache__/
app/crud/__pycache__/
app/utils/__pycache__/
prompts/__pycache__/
evals/
CLAUDE.md